.offersWrapper {
    display: flex;
    justify-content: center; /* or use `gap` instead */
    gap: 20px; /* optional, for spacing between cards */
    padding: 50px 20px;
    background-color: rgb(232, 229, 229);
    
  }
  